$bg-color:#333;
$font-color:#fff;
$primary-color:#008ed6;
$dark-overlay: rgba(0,0,0,0.7);
$icon-size: 30px;

body{
 background-color: white;
}

.navbar{
  border-bottom: $primary-color 3px solid;
  opacity: 0.8;
}
#home-section{
  background: url('../img/p.jpeg') no-repeat;
  background-size: cover;
  color: $font-color;
  background-attachment: fixed;
  min-height: 700px;

  .dark-overlay{
    background-color:$dark-overlay;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-height: 700px;
  }

  .home-inner{
    padding-top: 150px;
  }
}
.codeS{
   white-space: pre-wrap;

}
#homeid .row{

  .smallUserImgHome{
  width: 50px;
  height: 50px;
}
}


#pImg{
  margin-top: -70px;
  width: 128px;
  height: 128px;
}


#profile-home-section{
  background: url('../../images/backprofile.jpeg') no-repeat;
  background-size: cover;
  color: $font-color;
  background-attachment: fixed;
  min-height: 400px;

  .profile-dark-overlay{
    background-color:$dark-overlay;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-height: 400px;
  }

  .home-inner{
    padding-top: 20px;
  }
}
#profile-container{
  margin-top: -80px;
}
#profile-rigth-container{
  margin-top: -80px;
  
}



